@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background: url('./images/bg-pattern-top.svg') 42vw, url('./images/bg-pattern-bottom.svg') 43vw 43vh;
    background-position: bottom 30vh right 45vw, top 48vh left 35vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: hsl(185, 75%, 39%);
}

.container {
    width: 325px;
    height: 375px;
    border-radius: 10px;
}

.card_img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 135px;
    border-radius: 10px 10px 0 0;
    background-image: url('./images/bg-pattern-card.svg');
}

.card_img img {
    width: 92px;
    height: 92px;
    border: 5px solid white;
    border-radius: 100px;
    position: relative;
    top: 90px;
}

.card_info {
    background-color: white;
    height: 153px;
}

.card_name_age {
    position: relative;
    top: 70px;
    left: 90px;
    align-items: center;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.card_name {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.card_age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.card_city {
    color: hsl(0, 0%, 59%);
    width: 70px;
    position: relative;
    top: 87px;
    left: 135px;
}

.card_footer {
    display: flex;
    justify-content: space-around;
    height: 85px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid hsl(0, 0%, 91%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.card_footer_parag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(229, 23%, 23%);
}

.card_footer_parag span {
    font-size: 12px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-top: 8px;
}

@media screen and (min-width: 1000px) {
    .container {
        width: 345px;
    }
    .card_img img {
        width: 100px;
        height: 100px;
    }
}